In [1]:
import pandas as pd

In [2]:
passanger_df = pd.read_csv('AirlineScrappedReview.csv')

In [3]:
passanger_df

,Passanger_Name,Flying_month,Route,Rating,Verified,Review_title,Review_content,Traveller_type,Class
0,Paige Boet,June 2023,New Orleans to London,1.0,Trip Verified,The airline lost my luggage,The airline lost my luggage and was absolutely...,Solo Leisure,Economy Class
1,S Layne,March 2023,London to Amman,1.0,Trip Verified,fully refunded by our travel insurance,"We booked on the BA website, round trip flight...",Couple Leisure,Business Class
2,E Lanewoski,Heathrow to Bodrum,Business Class,2.0,Trip Verified,no boarding drinks provided,"First time flying with BA business class, neve...",A321 neo,Solo Leisure
3,Joel Burman,June 2023,Amman to London,4.0,Not Verified,WiFi didn't work,You can buy sandwiches and crisps but don't ex...,Solo Leisure,Economy Class
4,R Vines,London City to Ibiza,Business Class,7.0,Trip Verified,stick with economy,This is a two-for-one review covering economy ...,Embraer 190,Family Leisure
...,...,...,...,...,...,...,...,...,...
3575,W Benson,NaN,NaN,4.0,NaN,British Airways customer review,LHR-HKG on Boeing 747 - 23/08/12. Much has bee...,Economy Class,no
3576,S Luqman,NaN,NaN,4.0,NaN,British Airways customer review,Just got back from Bridgetown Barbados flying ...,Economy Class,no
3577,D Smith,NaN,NaN,4.0,NaN,British Airways customer review,LHR-JFK-LAX-LHR. Check in was ok apart from be...,Economy Class,no
3578,W Benson,NaN,NaN,6.0,NaN,British Airways customer review,HKG-LHR in New Club World on Boeing 777-300 - ...,Business Class,yes
3579,Michael Dielissen,NaN,NaN,8.0,NaN,British Airways customer review,YYZ to LHR - July 2012 - I flew overnight in p...,Premium Economy,yes

In [4]:
passanger_df.describe()

            Rating
count  3575.000000
mean      4.790490
std       3.170323
min       1.000000
25%       2.000000
50%       4.000000
75%       8.000000
max      10.000000

In [5]:
passanger_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3580 entries, 0 to 3579
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Passanger_Name  3580 non-null   object
 1   Flying_month    2815 non-null   object
 2   Route           2816 non-null   object
 3   Rating          3575 non-null   float64
 4   Verified        1270 non-null   object
 5   Review_title    3580 non-null   object
 6   Review_content  3580 non-null   object
 7   Traveller_type  3580 non-null   object
 8   Class           3579 non-null   object
dtypes: float64(1), object(8)
memory usage: 251.8+ KB

In [6]:
passanger_df.columns

Index(['Passanger_Name', 'Flying_month', 'Route', 'Rating', 'Verified',
       'Review_title', 'Review_content', 'Traveller_type', 'Class'],
      dtype='object')

In [7]:
passanger_df['Flying_month'] = pd.to_datetime(passanger_df['Flying_month'], errors='coerce')

C:\Users\Dell\AppData\Local\Temp\ipykernel_8164\761250350.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  passanger_df['Flying_month'] = pd.to_datetime(passanger_df['Flying_month'], errors='coerce')

In [8]:
passanger_df

,Passanger_Name,Flying_month,Route,Rating,Verified,Review_title,Review_content,Traveller_type,Class
0,Paige Boet,2023-06-01,New Orleans to London,1.0,Trip Verified,The airline lost my luggage,The airline lost my luggage and was absolutely...,Solo Leisure,Economy Class
1,S Layne,2023-03-01,London to Amman,1.0,Trip Verified,fully refunded by our travel insurance,"We booked on the BA website, round trip flight...",Couple Leisure,Business Class
2,E Lanewoski,NaT,Business Class,2.0,Trip Verified,no boarding drinks provided,"First time flying with BA business class, neve...",A321 neo,Solo Leisure
3,Joel Burman,2023-06-01,Amman to London,4.0,Not Verified,WiFi didn't work,You can buy sandwiches and crisps but don't ex...,Solo Leisure,Economy Class
4,R Vines,NaT,Business Class,7.0,Trip Verified,stick with economy,This is a two-for-one review covering economy ...,Embraer 190,Family Leisure
...,...,...,...,...,...,...,...,...,...
3575,W Benson,NaT,NaN,4.0,NaN,British Airways customer review,LHR-HKG on Boeing 747 - 23/08/12. Much has bee...,Economy Class,no
3576,S Luqman,NaT,NaN,4.0,NaN,British Airways customer review,Just got back from Bridgetown Barbados flying ...,Economy Class,no
3577,D Smith,NaT,NaN,4.0,NaN,British Airways customer review,LHR-JFK-LAX-LHR. Check in was ok apart from be...,Economy Class,no
3578,W Benson,NaT,NaN,6.0,NaN,British Airways customer review,HKG-LHR in New Club World on Boeing 777-300 - ...,Business Class,yes
3579,Michael Dielissen,NaT,NaN,8.0,NaN,British Airways customer review,YYZ to LHR - July 2012 - I flew overnight in p...,Premium Economy,yes

In [9]:
passanger_df.dropna(subset=['Flying_month'], inplace=True)

In [10]:
passanger_df

,Passanger_Name,Flying_month,Route,Rating,Verified,Review_title,Review_content,Traveller_type,Class
0,Paige Boet,2023-06-01,New Orleans to London,1.0,Trip Verified,The airline lost my luggage,The airline lost my luggage and was absolutely...,Solo Leisure,Economy Class
1,S Layne,2023-03-01,London to Amman,1.0,Trip Verified,fully refunded by our travel insurance,"We booked on the BA website, round trip flight...",Couple Leisure,Business Class
3,Joel Burman,2023-06-01,Amman to London,4.0,Not Verified,WiFi didn't work,You can buy sandwiches and crisps but don't ex...,Solo Leisure,Economy Class
5,M King,2023-06-01,London to Washington,1.0,Trip Verified,Communication is terrible,Absolutely horrible airline. Communication is ...,Couple Leisure,Economy Class
8,Carol Willmore,2023-06-01,London to Funchal,1.0,Not Verified,flight failed at every level,This flight failed at every level. We were del...,Couple Leisure,Economy Class
...,...,...,...,...,...,...,...,...,...
2779,Thomas Kingston,2014-11-01,London to Vienna,4.0,NaN,British Airways customer review,Slightly disappointing flight in an aircraft t...,Couple Leisure,Economy Class
2788,C Barkei,2015-06-01,LHR to LUX,8.0,NaN,British Airways customer review,Short hop from the empty terminal 1 at LHR to ...,Business,Business Class
2795,Michael Stanley,2015-06-01,LHR to BKK,6.0,NaN,British Airways customer review,LHR to BKK June 13th 2015 Club World (Business...,Couple Leisure,Business Class
2798,Nazira Khatun,2015-06-01,London to Turkey,10.0,NaN,British Airways customer review,I flew out on the 8th June 2015 and all I can ...,Couple Leisure,Economy Class
2799,Nur Afiqah Rahmat,2015-06-01,Abu Dhabi to Muscat,9.0,NaN,British Airways customer review,I fly with this airline almost every other wee...,Solo Leisure,Economy Class

In [11]:
passanger_df.reset_index(inplace=True,drop=True)

In [12]:
passanger_df.columns

Index(['Passanger_Name', 'Flying_month', 'Route', 'Rating', 'Verified',
       'Review_title', 'Review_content', 'Traveller_type', 'Class'],
      dtype='object')

In [13]:
words = ['to', 'via']

In [14]:
passanger_df = passanger_df[passanger_df['Route'].str.contains('|'.join(words),case=False, na=False)]

In [15]:
    passanger_df.head(20)

,Passanger_Name,Flying_month,Route,Rating,Verified,Review_title,Review_content,Traveller_type,Class
0,Paige Boet,2023-06-01,New Orleans to London,1.0,Trip Verified,The airline lost my luggage,The airline lost my luggage and was absolutely...,Solo Leisure,Economy Class
1,S Layne,2023-03-01,London to Amman,1.0,Trip Verified,fully refunded by our travel insurance,"We booked on the BA website, round trip flight...",Couple Leisure,Business Class
2,Joel Burman,2023-06-01,Amman to London,4.0,Not Verified,WiFi didn't work,You can buy sandwiches and crisps but don't ex...,Solo Leisure,Economy Class
3,M King,2023-06-01,London to Washington,1.0,Trip Verified,Communication is terrible,Absolutely horrible airline. Communication is ...,Couple Leisure,Economy Class
4,Carol Willmore,2023-06-01,London to Funchal,1.0,Not Verified,flight failed at every level,This flight failed at every level. We were del...,Couple Leisure,Economy Class
5,Nadine Kohler,2023-06-01,Marseille to Seattle via London Heathrow,1.0,Not Verified,BA refuses to make it right,Beware of British Airways and their marketing ...,Family Leisure,Economy Class
6,A. Adel,2023-06-01,Cairo to London,2.0,Trip Verified,shame for such well known airline,I flew from Cairo to Heathrow on what they cal...,Solo Leisure,Business Class
7,Cosmin Stefanescu,2023-06-01,Bucharest to Dallas via London,1.0,Not Verified,Total garbage,"I flew with numerous airlines, but I gotta adm...",Solo Leisure,Economy Class
8,Emmeline Reichert,2023-06-01,Gatwick to Venice,3.0,Trip Verified,arrived at the airport only 1 hour before,We were traveling as a family (5 people). Beca...,Family Leisure,Economy Class
9,Jamie Gooding,2023-06-01,Dublin to London City,1.0,Trip Verified,so callous and uncaring,Flight at 8.40am from DUB to LCY cancelled 115...,Solo Leisure,Economy Class
10,Michael Hayward,2023-06-01,Tokyo to Manchester via Heathrow,1.0,Trip Verified,uncomfy old planes,Terrible. I have traveled twice with them this...,Business,Business Class
11,George W Edmonds,2023-06-01,San Francisco to London,1.0,Trip Verified,never fly British Airway ever again,The customer service is ugly. Tried calling tw...,Solo Leisure,Economy Class
12,K Pickering,2023-06-01,Seattle to Nice via London,1.0,Trip Verified,I will never fly British Airways again,I booked our first out of country trip to take...,Couple Leisure,Economy Class
13,M Johnson,2023-03-01,Sydney via Singapore to London Heathrow,4.0,Trip Verified,All in all very disappointing,My husband and I booked seats within our premi...,Couple Leisure,Premium Economy
14,V Samaras,2023-04-01,Athens to Durban via London Heathrow,2.0,Trip Verified,All flights without exception were delayed,I went through three flights to reach my desti...,Solo Leisure,Economy Class
15,Ali Balandy,2023-05-01,Vancouver to Barcelona via London,3.0,Trip Verified,luggage was still in London,The flight schedule was delayed for one hour. ...,Family Leisure,Economy Class
16,A Robinson,2023-06-01,Boston to Cairo via London,1.0,Trip Verified,worst experience in all my years of travel,The worst experience in all my years of travel...,Family Leisure,Economy Class
17,K Parker,2023-05-01,London to Santorini,1.0,Trip Verified,The worst experience,The worst experience in all my years of travel...,Couple Leisure,Economy Class
18,Tanya Tracy,2023-02-01,Heathrow to Mumbai,2.0,Trip Verified,haven’t received any reimbursement,Terrible delays. Had to rebook our domestic tr...,Family Leisure,Economy Class
19,Christos Hadjipanayi,2023-03-01,London to Larnaca,10.0,Trip Verified,the crew has helped me,A serious medical problem appeared while I was...,Solo Leisure,Economy Class

In [16]:
passanger_df = passanger_df[passanger_df['Class'].str.contains('Class',case=False, na=False)]

In [17]:
passanger_df=passanger_df[passanger_df['Traveller_type'].str.contains('Leisure',case=False, na=False)]

In [18]:
passanger_df.dropna(inplace=True)

In [19]:
passanger_df.reset_index(drop=True, inplace=True)

In [20]:
passanger_df

,Passanger_Name,Flying_month,Route,Rating,Verified,Review_title,Review_content,Traveller_type,Class
0,Paige Boet,2023-06-01,New Orleans to London,1.0,Trip Verified,The airline lost my luggage,The airline lost my luggage and was absolutely...,Solo Leisure,Economy Class
1,S Layne,2023-03-01,London to Amman,1.0,Trip Verified,fully refunded by our travel insurance,"We booked on the BA website, round trip flight...",Couple Leisure,Business Class
2,Joel Burman,2023-06-01,Amman to London,4.0,Not Verified,WiFi didn't work,You can buy sandwiches and crisps but don't ex...,Solo Leisure,Economy Class
3,M King,2023-06-01,London to Washington,1.0,Trip Verified,Communication is terrible,Absolutely horrible airline. Communication is ...,Couple Leisure,Economy Class
4,Carol Willmore,2023-06-01,London to Funchal,1.0,Not Verified,flight failed at every level,This flight failed at every level. We were del...,Couple Leisure,Economy Class
...,...,...,...,...,...,...,...,...,...
382,Victor Mendonca,2017-11-01,Funchal to London Gatwick,10.0,Trip Verified,pleasure to fly with a great airline,Flew Funchal to London Gatwick. Just wanted to...,Solo Leisure,Economy Class
383,Raymond Grayson,2017-08-01,Newcastle to San Francisco via London Heathrow,2.0,Trip Verified,One issue after another!,Flew Newcastle to San Francisco via London Hea...,Couple Leisure,Business Class
384,A Lewis,2017-10-01,London Gatwick to Verona,2.0,Trip Verified,bus transfer and arrival at 2.30am,"After 3 hour delay at airport, flight destined...",Solo Leisure,Economy Class
385,Ian Henderson,2017-10-01,Bologna to London Heathrow,2.0,Not Verified,this was not acceptable,❎ Flew British Airways from Bologna to Lond...,Couple Leisure,Economy Class
386,Courtney Ross,2017-11-01,Baltimore to Rome via London,1.0,Not Verified,prepare to be nickled and dimed,❎ My husband and I booked our honeymoon to ...,Couple Leisure,Economy Class

In [21]:
passanger_df.to_csv('PassangerEdit.csv')